In [14]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from time import time

In [24]:
Job= ("111222", "111222","111222", "111222","111222", "123456","123456","123456","123456","123456")
Date = ("2020-12-14 01:19:00", "2020-12-14 08:01:00", "2020-12-14 12:23:00", "2020-12-14 14:06:00", "2020-12-14 20:00:00", "2020-12-15 02:38:00", "2020-12-15 06:07:00", "2020-12-15 09:58:00", "2020-12-15 12:42:00", "2020-12-15 16:25:00")
Date = pd.to_datetime(Date)
FT = (0, 12000, 12000, 10000, 10000, 8000, 12000, 12000, 12000, 70000)
data = list(zip(Job,Date,FT))
df = pd.DataFrame(data = data, columns = ['Job','Date','FT'])
df

      Job                Date     FT
0  111222 2020-12-14 01:19:00      0
1  111222 2020-12-14 08:01:00  12000
2  111222 2020-12-14 12:23:00  12000
3  111222 2020-12-14 14:06:00  10000
4  111222 2020-12-14 20:00:00  10000
5  123456 2020-12-15 02:38:00   8000
6  123456 2020-12-15 06:07:00  12000
7  123456 2020-12-15 09:58:00  12000
8  123456 2020-12-15 12:42:00  12000
9  123456 2020-12-15 16:25:00  70000

In [25]:
df['FT2'] = ''
for i in range(int(len(df)-1)):
    if df['Date'][i].strftime("%H:%M:%S") < "07:00:00" and df['Date'][i+1].strftime('%H:%M:%S') > "07:00:00":
        df['FT2'][i] = df['FT'][i] + (df['FT'][i+1]/(df['Date'][i+1] - df['Date'][i]).total_seconds())*((pd.to_datetime(df['Date'][i].strftime('%x'))+timedelta(hours = 7)) - df['Date'][i]).total_seconds()
        df['FT2'][i+1] = (df['FT'][i+1]/(df['Date'][i+1] - df['Date'][i]).total_seconds())*((df['Date'][i+1] - (pd.to_datetime(df['Date'][i].strftime('%x'))+ timedelta(hours = 7))).total_seconds())
    elif df['Date'][i].strftime("%H:%M:%S") < "19:00:00" and df['Date'][i+1].strftime('%H:%M:%S') > "19:00:00":
        df['FT2'][i] = df['FT'][i] + (df['FT'][i+1]/(df['Date'][i+1] - df['Date'][i]).total_seconds())*((pd.to_datetime(df['Date'][i].strftime('%x'))+timedelta(hours = 19)) - df['Date'][i]).total_seconds()
        df['FT2'][i+1] = (df['FT'][i+1]/(df['Date'][i+1] - df['Date'][i]).total_seconds())*((df['Date'][i+1] - (pd.to_datetime(df['Date'][i].strftime('%x'))+ timedelta(hours = 19))).total_seconds())
    else:
        df['FT2'][i+1] = df['FT'][i+1]

C:\Users\thuyq\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\thuyq\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\thuyq\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\thuyq\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\thuyq\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
df

      Job                Date     FT      FT2
0  111222 2020-12-14 01:19:00      0  10179.1
1  111222 2020-12-14 08:01:00  12000   1820.9
2  111222 2020-12-14 12:23:00  12000    12000
3  111222 2020-12-14 14:06:00  10000  18305.1
4  111222 2020-12-14 20:00:00  10000  1694.92
5  123456 2020-12-15 02:38:00   8000     8000
6  123456 2020-12-15 06:07:00  12000  14753.2
7  123456 2020-12-15 09:58:00  12000  9246.75
8  123456 2020-12-15 12:42:00  12000    12000
9  123456 2020-12-15 16:25:00  70000    70000